<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Doctorado en Química Biológica | </h1> <h3> 2014-2020</h3>
            </li>
            <p>
                Tesis: “Estudio de la vía de los receptores
hormonales y los factores de transcripción forkhead
box (FOX) en el cáncer de próstata”.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Licenciatura en Ciencias Biológicas |</h1> <h3> 20007-2014</h3>
            </li>
            <p>
                Tesis de licenciatura: “Efecto de una preparación
comercial de glifosato y de una sal de cromo sobre
la proliferación y diferenciación a adipocitos de
fibroblastos 3T3-L1”.
            </p>
        </ul>

    </div>


</div>