<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Asesor técnico de ventas | </h1> <h3> 2021-actualidad</h3>
            </li>
            <p>
                Tareas realizadas: Venta de insumos de biología molecular,
                seguimiento y asesoramiento técnico a clientes, encargado del
                sector de biología molecular.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Técnico de laboratorio |</h1> <h3> 2020-2020</h3>
            </li>
            <p>
                Tareas realizadas: análisis de muestras para la detección de SARS-CoV-2, encargado de stock de reactivos y recepción de muestras.
                Técnicas utilizadas: extracción de ARN y RT-qPCR.
            </p>
        </ul>
    </div>
</div>