<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoperfil.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Javier Nahuel Brandani {{persona.nombre}} {{persona.apellido}}</p>
        <p>Dr. en Química Biológica</p>
        <p>Licenciado en ciencas Biológicas</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Soy Biólogo y Doctor en Química Biológica. Apasionado por la biología y la ciencia en todos sus aspectos. Poseo
                amplio conocimiento en técnicas de biología molecular, cultivo celular y conocimientos en bioinformática. Gran
                capacidad para adaptarme a los cambios, solucionar problemas y trabajar en equipo. Siempre con ganas de mejorar
                tanto en lo personal como en lo laboral. Actualmente me encuentro en la búsqueda de nuevos desafíos y
                conocimientos. Actualmente uno de mis hobbies es la fotografía, particularmente la macrofotografía.</p>
        </span>
    </div>
</div> 